<div class="row content" style="margin:0px">
  <% User.all.each do |u| %>
    <div class="inside col" style="padding:0px">
      <div class="title nowrap underline"><%=u.name%></div>
      <% if u.uid%2 ==0 %>
      <table class="table table-bordered table-striped">
      <% else %>
      <table class="table table-bordered table-striped">
      <!-- <table class="table table-bordered table-striped table-dark"> -->
      <% end %>
        <thead class="thead-dark"></thead>
        <tbody>
          <% u.teams.all.each do |t| %>
            <tr>
              <td class="nowrap"><%=t.name%></td>
              <th scope="row"><%=t.value%></th>
            </tr>
          <% end %>
            <tr>
              <th class="nowrap">Total Points</th>
              <th scope="row"><%=u.total%></th>
            </tr>
        </tbody>
      </table>
    </div>
  <%end%>
</div>

<h1 class="title center border">Current Leader(s): <%=current_leader%></h1>

<% if !@load %>
<script>alert('Error: could not load the latest scrores.')</script>
<% end %>

<% if !@change %>
<script>alert('All scores already up to date')</script>
<% end %>


<a class="update btn btn-primary btn-lg" style="font-size: 2.25rem">Update Scores</a>
