<div class="row content" style="margin:0px">
  <% User.all.each do |u| %>
    <% if u.knockout %>
      <div class="inside col" style="padding:0px">
        <div class="title nowrap underline"><%=u.name%></div>
        <% if u.uid%2 ==0 %>
        <table class="table table-bordered table-striped">
        <% else %>
        <table class="table table-bordered table-striped">
        <!-- <table class="table table-bordered table-striped table-dark"> -->
        <% end %>
          <thead class="thead-dark"></thead>
          <tbody>
            <% u.teams.all.each do |t| %>
              <% if t.knockout %>
                <tr>
                  <% if t.eliminated %>
                    <% if t.single %>
                      <td class="nowrap single strikeout"><%=t.name%></td>
                    <% elsif t.everyone %>
                      <td class="nowrap everyone strikeout"><%=t.name%></td>
                    <% else %>
                      <td class="nowrap strikeout"><%=t.name%></td>
                    <% end %>
                  <% elsif t.single %>
                    <td class="nowrap single"><%=t.name%></td>
                  <% elsif t.everyone %>
                    <td class="nowrap everyone"><%=t.name%></td>
                  <% else %>
                    <td class="nowrap"><%=t.name%></td>
                  <% end %>
                  <th scope="row" class="center"><%=t.value%></th>
                </tr>
              <% end %>
            <% end %>
              <tr>
                <th class="nowrap">Total Points</th>
                <th scope="row" class="center"><%=u.knockout_total%></th>
              </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  <%end%>
</div>

<h1 class="title center border">Current Leader(s): <%=current_leader_knockout%></h1>

<% if !@load %>
<script>alert('Error: could not load the latest scrores.')</script>
<% end %>

<% if !@change %>
<script>alert('All scores already up to date')</script>
<% end %>


<button class="knockout btn btn-dark btn-lg" style="font-size: 2.25rem" role="button">Update Scores</button>

<%= link_to "Original Bracket", welcome_index_path, :class =>"bottomaligned btn btn-warning", :role => "button" %>
